


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home </title>
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}"  type= "text/css">
  </head>
  <body>
    <div class="center">
      <h1>Welcome</h1>
      
        <div class="txt_field">
           
        </div>
        <div class="txt_field">
           
        </div>
        <button class="button-5" role="button"><a id ="button3" href="{{url_for('login')}}">Signin</a></button>
        <button class="button-5" role="button"><a id ="button3" href="{{url_for('signup')}}">signup</a></button>
      </form>
    </div>
    

  </body>
</html>

